@import url("http://fonts.googleapis.com/css?family=Lora");

@import url("components/container.css")
@import url("components/avatar.css")
@import url("components/button.css")
@import url("components/banner.css")
body {
  font-family: 'Lora'ï¼Œ serif;
  font-size:18px;
}
h1,h2,h3{
	font-family: 'Roboto', snas-serif;
	font-weight:bold;
}

a{
	text-decoration: none;
}